[submodule "HybridDAEParser"]
	path = HybridDAEParser
	url = git@github.com:JKRT/HybridDAEParser.git
[submodule "MetaModelica.jl"]
	path = MetaModelica.jl
	url = git@github.com:OpenModelica/MetaModelica.jl.git
[submodule "Absyn.jl"]
	path = Absyn.jl
	url = git@github.com:OpenModelica/Absyn.jl.git
[submodule "SCode.jl"]
	path = SCode.jl
	url = git@github.com:OpenModelica/SCode.jl.git
[submodule "DAE.jl"]
	path = DAE.jl
	url = git@github.com:JKRT/DAE.jl.git
[submodule "OMBackend.jl"]
	path = OMBackend.jl
	url = git@github.com:JKRT/OMBackend.jl.git
